@media (max-width:575px)
  .registration
    .header
      .title
        font-size: 20px
        &::before, &::after
          width: 30%
    &-form
      .input-field
        width: 100% 
    .form-caption
      width: 100%
      margin-top: 10px
    .terms, .form-caption
      text-align: center
  
@media print
  .registration
    border: 1px solid #000
    &-form
      .terms
        &-link
          color: #000
          text-decoration: underline
      .submit-btn
        border: 1px solid #000
        color: #000
